.fade.ng-enter {
  transition:1s linear all;
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}