body {
    font-size: 1em;
}

h1 {
    color: #3F3F3F;
    font-family: 'Raleway', sans-serif;
    font-size: 3.125rem;
    margin-bottom: 0;
    line-height: 1.1;
}

h2 {
    color: #F47846;
    font-size: 1rem;
    margin-left: 4.5rem;
}

h3 {
    border-bottom: thin solid #CFCFCF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 0.8;
}

header {
    margin-bottom: 1.4rem;
}

.league-list li {
    margin-bottom: 0.2rem;
}

.league-list a, .league-list a:link, .league-list a:focus, .league-list a:visited {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.6rem;
    font-size: 1.2rem;
    padding-left: 1.9rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #175F96;
}

.league-list a:hover {
    color: #568AB2;
}

.league-list .hockey {
    background-image: url("/assets/img/hockey-icon-24x24.png");
}

.league-list .lacrosse {
    background-image: url("/assets/img/lacrosse-icon-24x24.png");
}

.button {
  font-family: inherit;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  font-size: 1rem;
  background-color: #175F96;
  border-color: #05375D;
  color: #FFFFFF;
}

.button:hover, .button:focus {
    background-color: #05375D; 
}

.button:hover, .button:focus {
    color: #FFFFFF; 
}

.email-success {
    color: #10621E;
}

.email-fail {
    color: #551C00;
}

@media only screen and (max-width: 40em) {
    .home-search {
        border-bottom: #9E9E9E thin solid;
    }
    
    .home-register {
        margin-top: 0.8rem;
    }
    
    .league-list a {
        display: block;
    }
}

@media only screen and (min-width: 40.063em) { 
    .home-search {
        border-right: #9E9E9E thin solid;
    }
}

@media only screen and (min-width: 64.063em) {
    .button {
        padding: inherit;
    }
    
    .large-postfix {
        border-style: solid;
        border-width: 1px;
        display: block;
        font-size: 0.875rem;
        height: 2.3125rem;
        line-height: 2.3125rem;
        overflow: visible;
        padding-bottom: 0;
        padding-top: 0;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 2; 
    
    }

    .large-postfix.button {
        border-color: true; 
    }
}