<div class="row">
    <div class="small-12 columns">
        <div class="home-section-header">
            register
        </div>
    </div>
</div>
<div>
    <div id="registration-form">
        <form name="home.form" novalidate>
            <div class="row uncollapse">
                <div class="small-12 small-centered columns">
                    <div class="row collapse">
                        <label>Email
                            <input type="email" placeholder="Enter your email here" data-ng-model="home.user.email" required>
                        </label>
                        <label>Password
                            <input type="password" placeholder="Enter a secure password" data-ng-model="home.user.password" required>
                        </label>
                        <div class="small-6 small-centered large-3 large-uncentered text-center columns">
                            <input type="submit" data-ng-click="home.saveUser(home.user)" class="button large-postfix" value="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
