<div class="row">
    <div class="small-12 columns">
        <div class="home-section-header">
            leagues
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="league-list">
            <ul class="no-bullet">
                <li data-ng-repeat="league in home.leagues">
                    <a data-ui-sref="league({leagueId:league.model.id})" class="{{league.sport}}">{{league.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>