<header>
    <div class="row">
        <div class="small-12 small-centered text-center columns">
            <h1>leaguelog</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 small-centered text-center columns">
            <h2>Be a better commish.</h2>
        </div>
    </div>
</header>
<section>
    <div class="row small-collapse">
        <div class="small-12 medium-6 columns">
            <div class="home-search">
                <div data-ui-view="search"></div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="home-register">
                <div data-ui-view="register"></div>
            </div>
        </div>
    </div>
</section>